$green: #80f9b7;
$blue: #9abdeb;
$pink: #fa7fc3;
$grey: #747373;
$shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
$font-size: 22px;
$font-family: -apple-system, BlinkMacSystemFont, sans-serif;

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font-family;
    background: linear-gradient(135deg, $green 0%, $blue 100%);
}

.root {
    height: 100%;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    min-height: 60px;
}

.progress {
    width: 510px;
    box-shadow: $shadow;
    background-color: white;
    height: 62px;
    border-radius: 10px;

    &__bar {
        background-color: $pink;
        display: inline-block;
        height: 100%;
        border-radius: 10px;
        transition: width .4s ease-in-out;
    }
    &__percentage {
        font-size: $font-size;
        font-weight: 200;
        transition: color .4s ease-in-out;
        position: absolute;
        text-align: right;
        width: 80px;
        top: calc(50% - 16px);
        left: calc(50% + 165px);
    }
    &__info {
        height: 50px;
        text-shadow: $shadow;
        color: white;
        font-size: $font-size;
        margin-top: 10px;
        font-weight: 200;
    }
}

.link {
    &__input {
      width: 510px;
      height: 60px;
      border: 0;
      border-radius: 10px;
      box-shadow: $shadow;
      color: $grey;
      font-size: $font-size;
      text-indent: 15px;
      font-weight: 200;

      &--error {
          @extend .link__input;
          box-shadow: 0 0 0 2pt rgba(255, 0, 0, 0.53);
      }
  }

  &__button {
      height: 50px;
      width: 200px;
      box-shadow: $shadow;
      border: 0;
      border-radius: 10px;
      color: white;
      font-size: $font-size;
      background: $pink;
      margin-top: 10px;
      font-weight: 200;
      cursor: pointer;
  }
}

.tabs {
  width: 510px;
  margin-bottom: 8px;

  .tab {
    display: inline-block;
    text-align: center;
    padding: 15px 0 4px 0;
    width: 50%;
    border-bottom: 3px solid transparent;
    color: rgba(80,80,80,0.7);
    font-size: 16pt;
    font-weight: bold;
    cursor: pointer !important;

    &.active {
      border-bottom: 3px solid rgba(250,127,195,0.7) !important;
    }

    .badge {
      padding: 3px 6px;
      font-size: 12pt;
      border-radius: 5px;
      background-color: rgba(250,127,195,0.7);
      color: #fff;
    }
  }
}
