html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(135deg, #80f9b7 0%, #9abdeb 100%); }

.root {
  height: 100%;
  align-items: center; }

.center {
  display: flex;
  justify-content: center; }

.progress {
  width: 510px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 60px;
  border-radius: 10px; }
  .progress__bar {
    background-color: #fa7fc3;
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    transition: width .4s ease-in-out; }
  .progress__percentage {
    font-size: 22px;
    font-weight: 200;
    transition: color .4s ease-in-out;
    position: absolute;
    text-align: right;
    width: 80px;
    top: calc(50% - 42px);
    left: calc(50% + 165px); }
  .progress__info {
    height: 50px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 22px;
    margin-top: 10px;
    font-weight: 200; }

.link__input, .link__input--error {
  width: 510px;
  height: 60px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #747373;
  font-size: 22px;
  text-indent: 15px;
  font-weight: 200; }
  .link__input--error {
    box-shadow: 0 0 0 2pt rgba(255, 0, 0, 0.53); }

.link__button {
  height: 50px;
  width: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  background: #fa7fc3;
  margin-top: 10px;
  font-weight: 200;
  cursor: pointer; }

.outputFolderDisplay {
  position: absolute;
  left: 3px;
  bottom: 1px;
  font-size: 10pt;
  color: rgba(55,55,55,0.7)
}

.outputFolderDisplay span:last-child{
  font-style: italic;
  font-weight: normal;
}

.outputFolderDisplay span:first-child {
  font-weight: bold;
  font-style: normal;
}
